<div class="row">

  <p>映画は好きですか？</p>
  <p>疲れたとき、癒されたいとき、</p>
  <p>映画を観てみませんか。</p>
  <br>
  <br>
  <p>unforgettableでは、ミニシアターを多く掲載しています。</p>
  <p>ミニシアターには歴史のある劇場や、個性を大切にした劇場があります。</p>
  <p>いつもと違う場所で思い出に残る一日を過ごしてみませんか？</p>
  <br>
  <br>
  <p>関係者様からの掲載依頼もお待ちしております。</p>
  <p>reviewでは劇場について、recommendでは劇場の周辺にあるあなたのおすすめのお店や過ごし方を教えてください。</p>
  <br>
  <br>
  <p>「駅から劇場までの道のりに綺麗な公園があります。春には桜が綺麗に咲いていてお花見もできます。」</p>
  <p>「この劇場の近くにあるコーヒーの美味しい喫茶店です。鑑賞前の時間調整、鑑賞後に浸る場に使えます。」</p>
  <p>「劇場の隣に本屋があり、映画の原作本が売っていたので映画も本も楽しめました。」</p>
  <p>「劇場近くに駄菓子屋があります。親子で嬉しい気持ちになりました。」</p>
  <br>
  <br>
  <p>劇場と映画との新しい出会いがありますように。</p>

</div>