// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);

body{
  padding:0;
  margin:0;
  background:#fff;
}

.tabs{
  width:80%;
  margin:10px auto;
  position:relative;
}

.tab-buttons span{
  font:400 14px 'open sans',sans-serif;
  color:#333;
  background:#eee;
  cursor:pointer;
  border-bottom:2px solid #ddd;
  display:block;
  width:50%;
  float:left;
  text-align:center;
  height:40px;
  line-height:40px;
}

.tab-content{
  border-bottom:3px solid #ddd;
  padding:15px 0;
  display:block;
  font:400 13px 'open sans',sans-serif;
  color:#333;
}

#lamp{
  width:50%;
  height:2px;
  background:#333;
  display:block;
  position:absolute;
  top:40px;
  transition: all .3s ease-in;
-o-transition: all .3s ease-in;
-webkit-transition: all .3s ease-in;
-moz-transition: all .3s ease-in;
}

#lamp.content2{
  left:50%;
  transition: all .3s ease-in;
-o-transition: all .3s ease-in;
-webkit-transition: all .3s ease-in;
-moz-transition: all .3s ease-in;
}

#lamp.content1{
  left:0;
  transition: all .3s ease-in;
-o-transition: all .3s ease-in;
-webkit-transition: all .3s ease-in;
-moz-transition: all .3s ease-in;
}

.reviewform {
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
}

.reviewbtn {
  width: 440px;
  background-color: #01abaa;
  color: #faf2c8;
  margin: 10px 0;
  height: 25px;
}

.review {
  margin: 10px 0;
}

.revieweach {
  margin-top: 20px;
}

.reviewprofileimage {
  height: 150px;
  float: left;
}

.reviewtitlecontent {
  float: left;
}