.profileimage {
  float: left;
  border-radius: 3px;
}

.profile {
   float: left;
   padding: 50px 0;
}

.edit {
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.profileedit {
  margin-top: 10px;
}

.editbtn {
  width: 350px;
  background-color: #01abaa;
  color: #faf2c8;
  margin-top: 20px;
  height: 25px;
}

.space {
  height: 100px;
}

.theaterclip {
  margin-bottom: 50px;
}

.theaterimageclip {
  height: 170px;
}